.container{
    background-color: red;
    height: 1000px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}
.box{
    
    width:200px;
    border:5px solid black;
    margin:2px;
    padding:4px;


}
#box1{
    
    background-color: blue;
}
#box2{
    background-color: aqua;
}
#box3{
    background-color: green;
}
#box4{
    background-color: yellow;
}